@import 'reset';
@import 'resume';

$white: #f5f5f5;
$black: #050505;
$grey: #666;
$blue: #0000f5;

nav {
  left: 10px;
  position: fixed;
  text-align: center;
  top: 20px;
  width: 100px;

  .avatar {
    border-radius: 5px;
  }

  ul {
    list-style-type: none;
    margin: 10px 0;
    padding-left: 12px;
    text-align: left;

    a,
    a:visited {
      color: $blue;
    }

    li {
      font-family: 'Muli', sans-serif;
    }
  }
}

a,
a:link,
a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#main {
  line-height: 1.2em;
  margin-left: 120px;
  margin-top: 20px;
  max-width: 38em;
}

.left {
  float: left;
}

.right {
  float: right;
}

img {
  max-width: 100%;
}

body {
  font-size: 18px;
}

.tags {
  margin: .35em;

  li {
    display: inline-block;
  }
}

.tag,
a:visited.tag {
  border-radius: 3px;  
  font-size: 75%;
  padding: .4em .4em .3em;
  text-decoration: none;

  //http://bl.ocks.org/shamangeorge/8029743
  &.woodworking {
    background-color: #592d0d; //brown
    color: $white;
  }

  &.highered {
    background-color: #20588c; //blue
    color: $white;
  }

  &.web {
    background-color: #60be5c; //green
    color: $white;
  }

  &.development {
    background-color: #ff6e4a; //Outrageous Orange
    color: $white;
  }
}

article {
  h1 a {
    color: $black;
  }

  h2 {
    font-family: 'Ovo', serif;
    font-size: 1.2em;
    margin-bottom: .3em;
    margin-top: 1em;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

h1 {
  font-family: 'Ovo', serif;
  font-size: 48px;
  font-variant: small-caps;
  line-height: 30px;
  margin: 0 0 .1em;

  &.top-title {
    margin: 0 0 12px;
  }
}

.content li {
  margin-bottom: .1em;
}

p {
  font-family: 'Muli', sans-serif;
  margin-bottom: 1em;
}

time {
  color: $grey;
}

code, 
pre { 
  font-family: Consolas, Courier New, monospace; 
}

.invisible {
  border: 0;    
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.sprite {
  background: url('/img/sprite.png');
  display: inline-block;
  height: 32px;
  margin: 1px;
  width: 32px;
}

.sprint-twitter {
  background-position: 0 0;
}

.sprite-linkedin {
  background-position: 0 -32px;
}

.sprite-google-plus {
  background-position: 0 -64px;
}

.sprite-github {
  background-position: 0 -96px;
}
