/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#resume {
  font-family: Serif;
  font-size: 1rem; }
  #resume h1 {
    font-family: Serif;
    font-weight: normal;
    line-height: 1.3rem;
    margin: 0; }
  #resume .section-row {
    border-bottom: #000 double 2px;
    padding: 1em 0; }
    #resume .section-row:last-child {
      border-bottom: 0; }
  #resume #content {
    margin-left: 12%;
    width: 750px; }
  #resume .info-title {
    float: left;
    width: 19%; }
    #resume .info-title h1 {
      font-size: 160%;
      font-style: italic; }
  #resume .info {
    margin-left: 21%; }
    #resume .info h1 {
      font-size: 100%; }
    #resume .info h2 {
      font-size: 95%;
      font-weight: normal;
      line-height: 1.1em;
      margin: 0; }
    #resume .info p {
      font-size: 85%;
      line-height: 1.1em;
      margin-bottom: 1.1em;
      margin-top: 4px;
      text-align: justify; }
  #resume .dates {
    float: right; }
  #resume .boringlink {
    color: #000;
    text-decoration: none; }
  #resume .download-icon {
    float: left;
    width: 70px; }

nav {
  left: 10px;
  position: fixed;
  text-align: center;
  top: 20px;
  width: 100px; }
  nav img.avatar {
    border-radius: 5px; }
  nav ul {
    list-style-type: none;
    margin: 10px 0;
    padding-left: 12px;
    text-align: left; }
    nav ul a,
    nav ul a:visited {
      color: #00f;
      text-decoration: none; }
    nav ul a:hover {
      text-decoration: underline; }
    nav ul li {
      font-family: sans;
      line-height: 1.2em; }

#main {
  line-height: 1.2em;
  margin-left: 120px;
  margin-top: 20px;
  max-width: 38em; }

.left {
  float: left; }

.right {
  float: right; }

img {
  max-width: 100%; }

body {
  font-size: 18px; }

.tags {
  margin: .35em; }
  .tags li {
    display: inline-block; }

a.tag,
a:hover.tag,
a:active.tag,
a:visited.tag {
  border-radius: 3px;
  font-size: 75%;
  padding: .4em .4em .3em;
  text-decoration: none; }
  a.tag.woodworking,
  a:hover.tag.woodworking,
  a:active.tag.woodworking,
  a:visited.tag.woodworking {
    background-color: #592d0d;
    color: #fff; }
  a.tag.highered,
  a:hover.tag.highered,
  a:active.tag.highered,
  a:visited.tag.highered {
    background-color: #20588c;
    color: #fff; }
  a.tag.web,
  a:hover.tag.web,
  a:active.tag.web,
  a:visited.tag.web {
    background-color: #60be5c;
    color: #fff; }
  a.tag.development,
  a:hover.tag.development,
  a:active.tag.development,
  a:visited.tag.development {
    background-color: #FF6E4A;
    color: #fff; }

article h1 a {
  color: #000;
  text-decoration: none; }
  article h1 a:hover {
    text-decoration: underline; }
article h2 {
  font-family: 'Architects Daughter', sans;
  font-weight: bold;
  margin-bottom: .2em; }
article img {
  display: block;
  margin: 0 auto; }

h1 {
  font-family: 'Architects Daughter', sans;
  font-size: 48px;
  font-variant: small-caps;
  line-height: 30px;
  margin: 0 0 .1em; }
  h1.top-title {
    margin: 0 0 12px; }

.content li {
  margin-bottom: .1em; }

p {
  font-family: sans;
  margin-bottom: 1em; }

time {
  color: #666; }

.invisible {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.sprite {
  background: url(/img/sprite.png);
  display: inline-block;
  height: 32px;
  margin: 1px;
  width: 32px; }

.sprint-twitter {
  background-position: 0 0; }

.sprite-linkedin {
  background-position: 0 -32px; }

.sprite-google-plus {
  background-position: 0 -64px; }

.sprite-github {
  background-position: 0 -96px; }
