@import "reset";
@import "resume";

nav {
  left: 10px;
  position: fixed;
  text-align: center;
  top: 10px;
  width: 100px;
  img.avatar {
    border-radius: 5px;
  }
  ul {
    list-style-type: none;
    margin: 10px 0;
    padding-left: 12px;
    text-align: left;
    a,
    a:visited {
      color: #00f;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

#main {
  line-height: 1.2em;
  margin-left: 120px;
  margin-top: 10px;
  max-width: 42em;
}

.left {
  float: left;
}

.right {
  float: right;
}

body {
  font-size: 16px;
}

h1 {
  font-family: 'Architects Daughter', sans;
  font-size: 48px;
  font-variant: small-caps;
  margin: 1em 0;
  &.top-title {
    margin-top: 0;
  }
}

p {
  font-family: sans;
  margin-bottom: 1em;
}

.invisible {
  border: 0;    
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.sprite {
  background: url(/img/sprite.png);
  display: inline-block;
  height: 32px;
  margin: 1px;
  width: 32px;
}
.sprint-twitter {
  background-position: 0 0;
}
.sprite-linkedin {
  background-position: 0 -32px;
}
.sprite-google-plus {
  background-position: 0 -64px;
}
.sprite-github {
  background-position: 0 -96px;
}
