nav {
  left: 10px;
  position: fixed;
  text-align: center;
  top: 20px;
  width: 100px;
  img.avatar {
    border-radius: 5px;
  }
  ul {
    list-style-type: none;
    margin: 10px 0;
    padding-left: 12px;
    text-align: left;
    a,
    a:visited {
      color: #00f;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
body {
  font-family: 'Architects Daughter', sans;
  font-size: 120%;
}
#main {
  margin-left: 120px;
  max-width: 650px;
}

.left {
  float: left;
}

.right {
  float: right;
}

h1 {
  font-size: 2em;
  font-variant: small-caps;
}

.invisible {
  border: 0;    
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.sprite {
  background: url(/img/sprite.png);
  display: inline-block;
  height: 32px;
  margin: 1px;
  width: 32px;
}
.sprint-twitter {
  background-position: 0 0;
}
.sprite-linkedin {
  background-position: 0 -32px;
}
.sprite-google-plus {
  background-position: 0 -64px;
}
.sprite-github {
  background-position: 0 -96px;
}

#resume {
  font-family: Serif;
  font-size: 1rem;
  .section-row {
    border-bottom: #000 double 2px;
    padding: 1em 0;
    &:last-child {
      border-bottom: 0;
    }
  }
  #content {
    margin-left: 12%;    
    width: 800px;
  }
  .info-title {
    float: left;
    width: 18%;
    h1 {
      font-size: 160%;    
      font-style: italic;
      font-weight: normal;
      margin: 0;
    }
  }
  .info {
    margin-left: 20%;
    h1 {
      font-size: 100%;
      font-weight: normal;
      margin: 0;
    }
    h2 {
      font-size: 95%;
      font-weight: normal;
      margin: 0;
    }
    p {
      font-size: 85%;
      margin-bottom: 1.1em;
      margin-top: 4px;
      text-align: justify;
    }
  }
  .dates {
    float: right;
  }
  .boringlink {
    color: #000;
    text-decoration: none;
  }
  .download-icon {
    float: left;
    width: 70px;
  }
}