.invisible {
  border: 0;    
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

iframe {
  display: block;
  margin: 0 auto;
}

.hamburger {
  cursor: pointer;
  display: table-cell;
  height: 43px;
  margin: 2px;
  padding: 2px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  width: 43px;

  @include breakpoint($desktop) {
    display: none;
  }

  span {
    background: $black;
    border-radius: 9px;
    display: block;
    height: 9px;
    left: 0;
    margin-top: 1px;
    opacity: 1;
    position: absolute;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    width: 100%;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 18px;
    }

    &:nth-child(4) {
      top: 36px;
    }
  }

  &.open span {
    &:nth-child(1) {
      left: 50%;
      top: 18px;
      width: 0;
    }

    &:nth-child(2) {
      transform: rotate(45deg);
    }

    &:nth-child(3) {
      transform: rotate(-45deg);
    }

    &:nth-child(4) {
      left: 50%;
      top: 18px;
      width: 0;
    }
  }
}

.note {
  color: $blue;
  cursor: pointer;

  @include breakpoint($addside) {
    color: inherit;
    cursor: inherit;   
  }
}

.sidenote {
  background-color: $popup;
  border: $grey*2.25 solid 1px;
  border-radius: 10px;
  cursor: pointer;
  display: none;
  font-size: .6em;
  line-height: 1.3em;
  margin-right: -250px;
  padding: 10px;
  position: absolute;
  text-align: left;
  top: auto;
  width: 180px;

  @include breakpoint($addside) {
    background-color: transparent;
    cursor: inherit;
    display: block;
    margin-top: -2em;
    padding: 10px 10px 10px 28px;
    right: 0;
  }
}

.note-number {
  color: $grey;
  display: none;
  font-size: 18px;
  margin-left: -16px;
  vertical-align: bottom;

  @include breakpoint($addside) {
    display: inline;
  }
}

figcaption {
  font-size: .8em;
  margin-bottom: 1em;
  padding-top: .1em;
  text-align: center;
}

.disclosure {
  background: darken($white, 2%);
  border: dotted 3px darken($white, 8%);
  border-radius: 10px;
  font-size: .75em;
  font-style: italic;
  padding: .75em;
}
