.invisible {
  border: 0;    
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

iframe {
  width: 100%;
}

.hamburger {
  cursor: pointer;
  display: table-cell;
  height: 43px;
  margin: 2px;
  padding: 2px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  width: 43px;

  @include breakpoint($desktop) {
    display: none;
  }

  span {
    background: $black;
    border-radius: 9px;
    display: block;
    height: 9px;
    left: 0;
    margin-top: 1px;
    opacity: 1;
    position: absolute;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    width: 100%;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 18px;
    }

    &:nth-child(4) {
      top: 36px;
    }
  }

  &.open span {
    &:nth-child(1) {
      left: 50%;
      top: 18px;
      width: 0;
    }

    &:nth-child(2) {
      transform: rotate(45deg);
    }

    &:nth-child(3) {
      transform: rotate(-45deg);
    }

    &:nth-child(4) {
      left: 50%;
      top: 18px;
      width: 0;
    }
  }
}
