.hamburger {
  cursor: pointer;
  height: 43px;
  margin: 1px;
  padding: 2px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  width: 43px;

  span {
    background: $black;
    border-radius: 9px;
    display: block;
    height: 9px;
    left: 0;
    margin-top: 1px;
    opacity: 1;
    position: absolute;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    width: 100%;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 18px;
    }

    &:nth-child(4) {
      top: 36px;
    }
  }
}

.hamburger.open span {
  &:nth-child(1) {
    left: 50%;
    top: 18px;
    width: 0;
  }

  &:nth-child(2) {
    transform: rotate(45deg);
  }

  &:nth-child(3) {
    transform: rotate(-45deg);
  }

  &:nth-child(4) {
    left: 50%;
    top: 18px;
    width: 0;
  }
}
