@import 'variables';

.resume {
  font-size: 1rem;
  padding: 0 15px;

  @include breakpoint($desktop) {
    padding: 0 15px 0 0;
  }

  @include breakpoint($resume) {
    padding: 0;
    width: 750px;
  }

  h1,
  h2,
  h3,
  h4,
  .dates {
    font-family: 'Ovo', serif;
    font-weight: normal;
    margin: 0;
  }

  h2 {
    font-variant: small-caps;
    line-height: 1.3rem;
  }

  ul {
    margin: -.75em 0 1em;

    li {
      font-size: 85%;
      line-height: 1.1em;
      list-style-type: disc;
      margin-left: 1em;
    }
  }

  .info-title {
    @include breakpoint($resume) {
      float: left;
      width: 19%;
    }

    h2 {
      font-size: 160%;    
      font-style: italic;
    }
  }

  .info {
    @include breakpoint($resume) {
      margin-left: 21%;
    }
    
    h3 {
      font-size: 100%;
      font-variant: small-caps;
    }

    h4,
    .dates {
      font-size: 95%;
      font-weight: normal;
      line-height: 1.1em;
      margin: 0;
    }

    p {
      line-height: 1.1em;
      margin-bottom: 1.1em;
      margin-top: 4px;
      text-align: justify;

      @include breakpoint($resume) {
        font-size: 85%;
      }
    }
  }

  .section-row {
    padding: 1em 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  .boringlink {
    color: $black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .dates {
    float: right;
  }
}

.download-icon {
  bottom: 10px;
  left: 10px;
  position: fixed;
  width: 70px;

  @include breakpoint($desktop) {
    left: 25px;
    top: 285px;
  }
}
