$accent1: #9A213D;
$accent2: #2D6B9E;
$lightGrey: #666;

.resume{
  line-height: 1.25em;
  margin-right: 1em;

  .control-box {
    background-color: rgba(255,255,255,0.8);
    backdrop-filter: blur(6px);
    padding: 1em 0;
    position: sticky;
    top: 0;

    .controls {
      display:flex;
      justify-content: space-around;
      flex-wrap: wrap;
      @include breakpoint($tablet) {
        flex-wrap: nowrap;
      }
    }
  }

  .excessive, .absurd {
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    height: 0;
    transition: opacity 1s ease-out;

    /* The absurd * property is because you can't use display to animate,
     * and visibility & opacity don't automatically make children disappear */
    &.show {
      visibility: visible;
      opacity: 1;
      height: auto;

      & *{
        height: auto;
      }
    }

    & *{
      height:0;
    }
  }

  h1 {
    font-size: 3em;
    font-variant: initial;
    text-align: center;
  }

  h2 {
    display: flex;
    color: $accent1;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: -1px;

    &:after {
      border-bottom: $accent2 solid 3px;
      content: "";
      height: 1em;
      min-width: 10px;
      // this trick makes the last item use as much space as possible
      flex-grow: 9999;
    }
  }

  h3 {
    font-size: 1.35em;
    font-weight: bold;
    margin-bottom: 0.35em;
  }

  h4 {
    font-size: 1.15em;
    margin-bottom: 0.35em;
  }

  .location-box {
    align-items: baseline;
    display: flex;

    h3, h4 {
      flex-grow: 9999;
    }
    span {
      text-align: right;
    }
  }

  ul {
    list-style-type: disc;
    margin: 0 0 1em 1em;
    text-align: left;

    @include breakpoint($tablet) {
      text-align: justify;
    }
  }


  .service-row {
    display: flex;

    flex-wrap: wrap;
    margin-top: 0.5em;
    @include breakpoint($tablet){
      flex-wrap: nowrap;
      margin-top: 0;
    }

    .date {
      min-width: 15%;
      max-width: 15%;
      margin-right: 1em;
      white-space: nowrap;
    }

    .entry {
      text-align: left;
      @include breakpoint($tablet){
        text-align: justify;
      }

      .entry-title {
        font-weight: bold;
      }
    }
  }

  p {
    margin-bottom: 0.25em;
  }

  a {
    text-decoration: underline;
    text-decoration-skip: edges;

    &:link, &:visited {
      color: inherit;
      text-decoration-color: $lightGrey;
      text-decoration-style: dotted;
    }

    &:hover, &:active, &:focus {
      color: $accent2;
      text-decoration-color: $accent2;
      text-decoration-style: solid;
    }
  }
}