@import 'variables';

// tag colors can be found at http://bl.ocks.org/shamangeorge/8029743
// they're the crayola crayon colors

.tags {
  display: inline-block;
  margin: .35em;

  ul {
    padding-left: 0;
  }

  li {
    display: inline-block;
    text-indent: 0;
  }
}

.tag,
a:visited.tag {
  border-radius: 4px;
  display: inline-block;
  font-size: 70%;
  padding: 0 .3em;
  position: relative;
  text-decoration: none;
  top: -2px; //centers the tag vertically on the line

  article & {
    padding: .5em;
  }

  &.woodworking {
    background-color: #592d0d; //brown
    color: $white;
  }

  &.highered {
    background-color: #20588c; //blue
    color: $white;
  }

  &.web {
    background-color: #ca3767; //jazzberry jam
    color: $white;
  }

  &.development {
    background-color: #ff6e4a; //Outrageous Orange
    color: $white;
  }

  &.outdoors {
    background-color: #158078; //pine green
    color: $white;
  }

  &.life {
    background-color: #926eae; //violet
    color: $white;
  }

  &.tale {
    background-color: #02a4d3; //Cerulean (blue)
    color: $white;
  }
}
