body {
  font-family: 'Muli', sans-serif;
  font-size: 20px;

  @include breakpoint($tablet) {
    font-size: 21px;
  }
}

a,
a:link,
a:active {
  text-decoration: none;
}

a:visited {
  color: $visit-purple;
}

a:hover {
  text-decoration: underline;
}

.mit-license {
  p {
    line-height: 1.1em;
    text-align: left;
  }

  strong {
    text-transform: uppercase;
    font-weight: normal;
  }
}

.copy-notice {
  color: $lightgrey;
  display: inline-block;
  font-size: 70%;
  margin: 1em 0;

  a,
  a:visited {
    color: $lightgrey;
  }
}

h1 {
  font-size: 2.5em;
  font-variant: small-caps;
  line-height: .9em;
  margin: 0 0 .1em -.1em;

  &.top-title {
    margin: 0 0 12px;
  }

  &.index-title {
    display: none;

    @include breakpoint($tablet) {
      display: block;
      font-size: 60px;
      letter-spacing: -1px;
    }
  }

  a {
    color: $black;
  }
}

h2 {
  font-size: 1.5em;
  line-height: 1.1em;
  margin-bottom: 0.2em;
  margin-top: 1em;
}

h3 {
  font-size: 1.12em;
  line-height: 1.05em;
  margin-bottom: .1em;
  margin-top: .25em;
}

abbr {
  font-size: 90%;
}

p {
  color: $post-text;
  line-height: 1.618033em;
  margin-bottom: 1em;
  text-align: left;

  @include breakpoint($desktop) {
    text-align: justify;
  }
}

code, 
pre { 
  font-family: Consolas, Courier New, monospace; 
}

time {
  color: $grey;
  display: inline-block;
  font-size: 80%;
  width: 7em;
}

em {
  font-style: italic;
}

.byline {
  color: $grey;
  display: inline-block;
}

sup,
sub,
small {
  font-size: .65em;
}

sup,
sub {
  position: relative;
  top: -.8em;
  vertical-align: baseline;
}

sub { 
  top: .4em; 
}
