body {
  font-family: 'Muli', sans-serif;
  font-size: 19px;
}

a,
a:link,
a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.copy-notice {
  color: $grey * 1.75;
  display: inline-block;
  font-size: 70%;
  margin: 1em 0;

  a,
  a:visited {
    color: $grey * 1.75;
  }
}

h1 {
  font-family: 'Ovo', serif;
  font-size: 2.5em;
  font-variant: small-caps;
  line-height: .9em;
  margin: 0 0 .1em;

  &.top-title {
    margin: 0 0 12px;
  }

  &.index-title {
    display: none;

    @include breakpoint($desktop) {
      display: block;
      font-size: 60px;
      letter-spacing: -1px;
    }
  }

  a {
    color: $black;
  }
}

h2 {
  font-family: 'Ovo', serif;
  font-size: 1.5em;
  line-height: 1.1em;
  margin-bottom: .1em;
  margin-top: 1em;
}

abbr {
  font-size: 90%;
}

p {
  color: $post-text;
  line-height: 1.4em;
  margin-bottom: 1em;
  text-align: left;

  @include breakpoint($desktop) {
    text-align: justify;
  }
}

code, 
pre { 
  font-family: Consolas, Courier New, monospace; 
}

time {
  color: $grey;
  font-size: 90%;
}
