@import "resume";
@import "variables";

nav {
  ul {
    list-style-type: none;
    margin: 8px 0;
    padding-left: 12px;
    text-align: left;

    li {
      font-family: 'Muli', sans-serif;
      margin-bottom: .15em;
    }
  }
}

.main {
  line-height: 1.2em;
  margin-left: 120px;
  margin-top: 20px;
  max-width: 38em;
}

article {
  h2 {
    font-family: 'Ovo', serif;
    font-size: 1.4em;
    line-height: 1.1em;
    margin-bottom: .3em;
    margin-top: 1em;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

.content li {
  margin-bottom: .15em;
}

p {
  font-family: 'Muli', sans-serif;
  margin-bottom: 1em;
  text-align: justify;
}

time {
  color: $grey;
}

code, 
pre { 
  font-family: Consolas, Courier New, monospace; 
}
