@import 'compass/reset';
@import 'breakpoint';
@import 'variables';
@import 'tags';
@import 'components';
@import 'resume';

// Global Styles that apply everywhere
a,
a:link,
a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.left {
  float: left;
}

.right {
  float: right;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
}

h2 {
  font-family: 'Ovo', serif;
}

h1 {
  font-family: 'Ovo', serif;
  font-size: 48px;
  font-variant: small-caps;
  line-height: .8em;
  margin: 0 0 .1em;

  a {
    color: $black;
  }

  &.top-title {
    margin: 0 0 12px;
  }
  
  &.index-title {
    display: none;
    font-size: 60px;
    letter-spacing: -1px;

    @include breakpoint($desktop) {
      display: block;
    }
  }
}

.listing li {
  margin-bottom: .5em;
}

p {
  line-height: 1.4em;
  margin-bottom: 1em;
  text-align: left;

  @include breakpoint($desktop) {
    text-align: justify;
  }
}

time {
  color: $grey;
}

.twitter-tweet {
  margin: 0 auto;
}

code, 
pre { 
  font-family: Consolas, Courier New, monospace; 
}

article {
  @include breakpoint($desktop) {
    margin-right: 10px;   
  }
  
  h2 {
    font-family: 'Ovo', serif;
    font-size: 1.4em;
    line-height: 1.1em;
    margin-bottom: .1em;
    margin-top: 1em;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

.invisible {
  border: 0;    
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.sprite {
  background: url('/img/sprite.png');
  display: inline-block;
  height: 32px;
  margin: 1px;
  width: 32px;
}

.sprint-twitter {
  background-position: 0 0;
}

.sprite-linkedin {
  background-position: 0 -32px;
}

.sprite-goodreads {
  background-position: 0 -64px;
}

.sprite-github {
  background-position: 0 -96px;
}

nav {
  background-color: $white;
  border-bottom: $black solid 1px;
  display: table-row;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  @include breakpoint($desktop) {
    background-color: transparent;
    border: 0;
    display: block;
    left: 10px;
    padding: 0;
    position: fixed;
    text-align: center;
    top: 20px;
    width: 100px;
  }

  .avatar {
    border-radius: 5px;
  }

  a,
  a:visited {
    color: $blue;
  } 

  ul {
    list-style-type: none;
    margin: 8px 0;
    padding: 0;
    text-align: center;

    @include breakpoint($desktop) {
      padding-left: 12px;
      text-align: left;
    }

    li {
      font-family: 'Muli', sans-serif;
      margin-bottom: .15em;
    }
  }
}

.main {
  margin: 60px 5px auto;

  @include breakpoint($desktop) {
    margin: 20px auto auto 120px;
    max-width: 38em;
  }
}

#menu {
  display: none;
  text-align: center;

  @include breakpoint($desktop) {
    display: block;
  }

  &.open {
    display: block;
  }
}

#hamburger {
  display: table-cell;
  margin: 2px;

  @include breakpoint($desktop) {
    display: none;
  }
}

#mobile-title {
  display: table-cell;
  padding: 2px;
  vertical-align: middle;

  @include breakpoint($desktop) { 
    display: none;
  }

  h1 {
    font-size: 12vw;
  }
}
