@import "compass/reset";
@import "breakpoint";
@import "variables";

// Global Styles that apply everywhere
a,
a:link,
a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.left {
  float: left;
}

.right {
  float: right;
}

img {
  max-width: 100%;
}

.invisible {
  border: 0;    
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.sprite {
  background: url('/img/sprite.png');
  display: inline-block;
  height: 32px;
  margin: 1px;
  width: 32px;
}

.sprint-twitter {
  background-position: 0 0;
}

.sprite-linkedin {
  background-position: 0 -32px;
}

.sprite-google-plus {
  background-position: 0 -64px;
}

.sprite-github {
  background-position: 0 -96px;
}

// Mobile Styles

// Desktop styples
