@import "compass/reset";
@import "breakpoint";
@import "variables";
@import "tags";

// Global Styles that apply everywhere
a,
a:link,
a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.left {
  float: left;
}

.right {
  float: right;
}

img {
  max-width: 100%;
}

body {
  font-size: 18px;
}

h1 {
  font-family: 'Ovo', serif;
  font-size: 48px;
  font-variant: small-caps;
  line-height: .8em;
  margin: 0 0 .1em;

  a {
    color: $black;
  }

  &.top-title {
    margin: 0 0 12px;
  }
  
  &.index-title {
    font-size: 60px;
    letter-spacing: -1px;
  }
}

.invisible {
  border: 0;    
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.sprite {
  background: url('/img/sprite.png');
  display: inline-block;
  height: 32px;
  margin: 1px;
  width: 32px;
}

.sprint-twitter {
  background-position: 0 0;
}

.sprite-linkedin {
  background-position: 0 -32px;
}

.sprite-google-plus {
  background-position: 0 -64px;
}

.sprite-github {
  background-position: 0 -96px;
}

nav {
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;

  @include breakpoint($desktop) {
    left: 10px;
    top: 20px;
    width: 100px;
  }

  .avatar {
    border-radius: 5px;
  }

  a,
  a:visited {
    color: $blue;
  }    
}

#hamburger {
  cursor: pointer;
  height: 45px;
  margin: 50px auto;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  width: 60px;

  span {
    background: #d3531a;
    border-radius: 9px;
    display: block;
    height: 9px;
    left: 0;
    opacity: 1;
    position: absolute;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    width: 100%;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 18px;
    }

    &:nth-child(4) {
      top: 36px;
    }
  }
}

#hamburger.open {
  span:nth-child(1) {
    left: 50%;
    top: 18px;
    width: 0%;
  }

  span:nth-child(2) {
    transform: rotate(45deg);
  }

  span:nth-child(3) {
    transform: rotate(-45deg);
  }

  span:nth-child(4) {
    left: 50%;
    top: 18px;
    width: 0%;
  }
}

@include breakpoint($desktop) {
  #hamburger {
    display: none;
  }
}
