/* line 3, ../sass/_resume.scss */
#resume {
  font-family: Serif;
  font-size: 1rem;
}
/* line 7, ../sass/_resume.scss */
#resume h1 {
  font-family: Serif;
  font-weight: normal;
  line-height: 1.3rem;
  margin: 0;
}
/* line 14, ../sass/_resume.scss */
#resume .section-row {
  border-bottom: #050505 double 2px;
  padding: 1em 0;
}
/* line 18, ../sass/_resume.scss */
#resume .section-row:last-child {
  border-bottom: 0;
}
/* line 23, ../sass/_resume.scss */
#resume #content {
  margin-left: 12%;
  width: 750px;
}
/* line 28, ../sass/_resume.scss */
#resume .info-title {
  float: left;
  width: 19%;
}
/* line 32, ../sass/_resume.scss */
#resume .info-title h1 {
  font-size: 160%;
  font-style: italic;
}
/* line 38, ../sass/_resume.scss */
#resume .info {
  margin-left: 21%;
}
/* line 41, ../sass/_resume.scss */
#resume .info h1 {
  font-size: 100%;
}
/* line 45, ../sass/_resume.scss */
#resume .info h2 {
  font-size: 95%;
  font-weight: normal;
  line-height: 1.1em;
  margin: 0;
}
/* line 52, ../sass/_resume.scss */
#resume .info p {
  font-size: 85%;
  line-height: 1.1em;
  margin-bottom: 1.1em;
  margin-top: 4px;
  text-align: justify;
}
/* line 61, ../sass/_resume.scss */
#resume .dates {
  float: right;
}
/* line 65, ../sass/_resume.scss */
#resume .boringlink {
  color: #050505;
  text-decoration: none;
}
/* line 70, ../sass/_resume.scss */
#resume .download-icon {
  float: left;
  width: 70px;
}

/* line 4, ../sass/main.scss */
nav {
  left: 10px;
  position: fixed;
  text-align: center;
  top: 20px;
  width: 100px;
}
/* line 11, ../sass/main.scss */
nav .avatar {
  border-radius: 5px;
}
/* line 15, ../sass/main.scss */
nav ul {
  list-style-type: none;
  margin: 8px 0;
  padding-left: 12px;
  text-align: left;
}
/* line 21, ../sass/main.scss */
nav ul a,
nav ul a:visited {
  color: #0000f5;
}
/* line 26, ../sass/main.scss */
nav ul li {
  font-family: 'Muli', sans-serif;
  margin-bottom: .15em;
}

/* line 33, ../sass/main.scss */
.main {
  line-height: 1.2em;
  margin-left: 120px;
  margin-top: 20px;
  max-width: 38em;
}

/* line 41, ../sass/main.scss */
article h2 {
  font-family: 'Ovo', serif;
  font-size: 1.4em;
  line-height: 1.1em;
  margin-bottom: .3em;
  margin-top: 1em;
}
/* line 49, ../sass/main.scss */
article img {
  display: block;
  margin: 0 auto;
}

/* line 55, ../sass/main.scss */
.content li {
  margin-bottom: .15em;
}

/* line 59, ../sass/main.scss */
p {
  font-family: 'Muli', sans-serif;
  margin-bottom: 1em;
  text-align: justify;
}

/* line 65, ../sass/main.scss */
time {
  color: #666;
}

/* line 69, ../sass/main.scss */
code,
pre {
  font-family: Consolas, Courier New, monospace;
}
