/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/_tags.scss */
.tags {
  margin: .35em;
}
/* line 9, ../sass/_tags.scss */
.tags li {
  display: inline-block;
}

/* line 14, ../sass/_tags.scss */
.tag,
a:visited.tag {
  border-radius: 3px;
  font-size: 75%;
  padding: .3em;
  text-decoration: none;
}
/* line 21, ../sass/_tags.scss */
.tag.woodworking,
a:visited.tag.woodworking {
  background-color: #592d0d;
  color: #f5f5f5;
}
/* line 26, ../sass/_tags.scss */
.tag.highered,
a:visited.tag.highered {
  background-color: #20588c;
  color: #f5f5f5;
}
/* line 31, ../sass/_tags.scss */
.tag.web,
a:visited.tag.web {
  background-color: #ca3767;
  color: #f5f5f5;
}
/* line 36, ../sass/_tags.scss */
.tag.development,
a:visited.tag.development {
  background-color: #ff6e4a;
  color: #f5f5f5;
}
/* line 41, ../sass/_tags.scss */
.tag.outdoors,
a:visited.tag.outdoors {
  background-color: #158078;
  color: #f5f5f5;
}
/* line 46, ../sass/_tags.scss */
.tag.life,
a:visited.tag.life {
  background-color: #926eae;
  color: #f5f5f5;
}

/* line 1, ../sass/_components.scss */
#hamburger {
  cursor: pointer;
  height: 43px;
  margin: 1px;
  padding: 2px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  width: 43px;
}
/* line 11, ../sass/_components.scss */
#hamburger span {
  background: #050505;
  border-radius: 9px;
  display: block;
  height: 9px;
  left: 0;
  margin-top: 1px;
  opacity: 1;
  position: absolute;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
  width: 100%;
}
/* line 24, ../sass/_components.scss */
#hamburger span:nth-child(1) {
  top: 0;
}
/* line 28, ../sass/_components.scss */
#hamburger span:nth-child(2), #hamburger span:nth-child(3) {
  top: 18px;
}
/* line 33, ../sass/_components.scss */
#hamburger span:nth-child(4) {
  top: 36px;
}

/* line 40, ../sass/_components.scss */
#hamburger.open span:nth-child(1) {
  left: 50%;
  top: 18px;
  width: 0;
}
/* line 46, ../sass/_components.scss */
#hamburger.open span:nth-child(2) {
  transform: rotate(45deg);
}
/* line 50, ../sass/_components.scss */
#hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
}
/* line 54, ../sass/_components.scss */
#hamburger.open span:nth-child(4) {
  left: 50%;
  top: 18px;
  width: 0;
}

/* line 3, ../sass/_resume.scss */
.resume {
  font-size: 1rem;
}
/* line 6, ../sass/_resume.scss */
.resume h1,
.resume h2,
.resume h3,
.resume h4,
.resume .dates {
  font-family: 'Ovo', serif;
  font-weight: normal;
  margin: 0;
}
/* line 16, ../sass/_resume.scss */
.resume h2 {
  font-variant: small-caps;
  line-height: 1.3rem;
}
/* line 21, ../sass/_resume.scss */
.resume ul {
  margin: -.75em 0 1em;
}
/* line 24, ../sass/_resume.scss */
.resume ul li {
  font-size: 85%;
  line-height: 100%;
  list-style-type: disc;
  margin-left: 1em;
}
/* line 33, ../sass/_resume.scss */
.resume .info-title h2 {
  font-size: 160%;
  font-style: italic;
}
/* line 40, ../sass/_resume.scss */
.resume .info h3 {
  font-size: 100%;
  font-variant: small-caps;
}
/* line 45, ../sass/_resume.scss */
.resume .info h4,
.resume .info .dates {
  font-size: 95%;
  font-weight: normal;
  line-height: 1.1em;
  margin: 0;
}
/* line 53, ../sass/_resume.scss */
.resume .info p {
  line-height: 1.1em;
  margin-bottom: 1.1em;
  margin-top: 4px;
  text-align: justify;
}
/* line 61, ../sass/_resume.scss */
.resume .section-row {
  border-bottom: #050505 double 2px;
  padding: 1em 0;
}
/* line 65, ../sass/_resume.scss */
.resume .section-row:first-child {
  padding-top: 0;
}
/* line 69, ../sass/_resume.scss */
.resume .section-row:last-child {
  border-bottom: 0;
}
/* line 74, ../sass/_resume.scss */
.resume .boringlink {
  color: #050505;
  text-decoration: none;
}
/* line 78, ../sass/_resume.scss */
.resume .boringlink:hover {
  text-decoration: underline;
}
/* line 83, ../sass/_resume.scss */
.resume .dates {
  float: right;
}

@media (min-width: 900px) {
  /* line 89, ../sass/_resume.scss */
  .resume {
    width: 750px;
  }
  /* line 92, ../sass/_resume.scss */
  .resume .info-title {
    float: left;
    width: 19%;
  }
  /* line 97, ../sass/_resume.scss */
  .resume .info {
    margin-left: 21%;
  }
  /* line 100, ../sass/_resume.scss */
  .resume .info p {
    font-size: 85%;
  }
}
/* line 107, ../sass/_resume.scss */
.download-icon {
  bottom: 10px;
  left: 10px;
  position: fixed;
  width: 70px;
}
@media (min-width: 450px) {
  /* line 107, ../sass/_resume.scss */
  .download-icon {
    left: 25px;
    top: 254px;
  }
}

/* line 9, ../sass/screen.scss */
a,
a:link,
a:active {
  text-decoration: none;
}

/* line 15, ../sass/screen.scss */
a:hover {
  text-decoration: underline;
}

/* line 19, ../sass/screen.scss */
.left {
  float: left;
}

/* line 23, ../sass/screen.scss */
.right {
  float: right;
}

/* line 27, ../sass/screen.scss */
img {
  max-width: 100%;
}

/* line 31, ../sass/screen.scss */
body {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
}

/* line 36, ../sass/screen.scss */
h2 {
  font-family: 'Ovo', serif;
}

/* line 40, ../sass/screen.scss */
h1 {
  font-family: 'Ovo', serif;
  font-size: 48px;
  font-variant: small-caps;
  line-height: .8em;
  margin: 0 0 .1em;
}
/* line 47, ../sass/screen.scss */
h1 a {
  color: #050505;
}
/* line 51, ../sass/screen.scss */
h1.top-title {
  margin: 0 0 12px;
}
/* line 55, ../sass/screen.scss */
h1.index-title {
  display: none;
  font-size: 60px;
  letter-spacing: -1px;
}
@media (min-width: 450px) {
  /* line 55, ../sass/screen.scss */
  h1.index-title {
    display: block;
  }
}

/* line 66, ../sass/screen.scss */
.content li {
  margin-bottom: .22em;
}

/* line 70, ../sass/screen.scss */
p {
  margin-bottom: 1em;
  text-align: left;
}
@media (min-width: 450px) {
  /* line 70, ../sass/screen.scss */
  p {
    text-align: justify;
  }
}

/* line 79, ../sass/screen.scss */
time {
  color: #666;
}

/* line 83, ../sass/screen.scss */
code,
pre {
  font-family: Consolas, Courier New, monospace;
}

/* line 89, ../sass/screen.scss */
article h2 {
  font-family: 'Ovo', serif;
  font-size: 1.4em;
  line-height: 1.1em;
  margin-bottom: .3em;
  margin-top: 1em;
}
/* line 97, ../sass/screen.scss */
article img {
  display: block;
  margin: 0 auto;
}

/* line 103, ../sass/screen.scss */
.invisible {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 114, ../sass/screen.scss */
.sprite {
  background: url("/img/sprite.png");
  display: inline-block;
  height: 32px;
  margin: 1px;
  width: 32px;
}

/* line 122, ../sass/screen.scss */
.sprint-twitter {
  background-position: 0 0;
}

/* line 126, ../sass/screen.scss */
.sprite-linkedin {
  background-position: 0 -32px;
}

/* line 130, ../sass/screen.scss */
.sprite-goodreads {
  background-position: 0 -64px;
}

/* line 134, ../sass/screen.scss */
.sprite-github {
  background-position: 0 -96px;
}

/* line 138, ../sass/screen.scss */
nav {
  background-color: #f5f5f5;
  border-bottom: #050505 solid 1px;
  display: table-row;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
@media (min-width: 450px) {
  /* line 138, ../sass/screen.scss */
  nav {
    background-color: transparent;
    border: 0;
    display: block;
    left: 10px;
    padding: 0;
    position: fixed;
    text-align: center;
    top: 20px;
    width: 100px;
  }
}
/* line 159, ../sass/screen.scss */
nav .avatar {
  border-radius: 5px;
}
/* line 163, ../sass/screen.scss */
nav a,
nav a:visited {
  color: #0000f5;
}
/* line 168, ../sass/screen.scss */
nav ul {
  list-style-type: none;
  margin: 8px 0;
  padding: 0;
  text-align: center;
}
@media (min-width: 450px) {
  /* line 168, ../sass/screen.scss */
  nav ul {
    padding-left: 12px;
    text-align: left;
  }
}
/* line 179, ../sass/screen.scss */
nav ul li {
  font-family: 'Muli', sans-serif;
  margin-bottom: .15em;
}

/* line 186, ../sass/screen.scss */
.main {
  line-height: 1.2em;
  margin: 60px 5px auto;
}
@media (min-width: 450px) {
  /* line 186, ../sass/screen.scss */
  .main {
    margin: 20px auto auto 120px;
    max-width: 38em;
  }
}

/* line 196, ../sass/screen.scss */
#menu {
  display: none;
  text-align: center;
}
@media (min-width: 450px) {
  /* line 196, ../sass/screen.scss */
  #menu {
    display: block;
  }
}
/* line 204, ../sass/screen.scss */
#menu.open {
  display: block;
}

/* line 209, ../sass/screen.scss */
#hamburger {
  display: table-cell;
  margin: 2px;
}
@media (min-width: 450px) {
  /* line 209, ../sass/screen.scss */
  #hamburger {
    display: none;
  }
}

/* line 218, ../sass/screen.scss */
#mobile-title {
  display: table-cell;
  padding: 2px;
  vertical-align: middle;
}
@media (min-width: 450px) {
  /* line 218, ../sass/screen.scss */
  #mobile-title {
    display: none;
  }
}
/* line 227, ../sass/screen.scss */
#mobile-title h1 {
  font-size: 12vw;
}
