<!DOCTYPE html>
<html>
	<meta charset="utf-8">
	<title>
	{% if page.title %}
		{{ page.title }} &ndash;
	{% endif %}
	{{ site.name }}
	</title>
	<link href='//fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/main.css" type="text/css" media="all" >
</head>
<body>
<nav>
	<a href="/"><img src="{{site.gravatar_url }}?s=150" height="75" width="75" class="avatar" /></a>
	<ul>
		<li><a href="/">Blog</a></li>
	</ul>
	<div id="social_media">
		<div>
			<a href="https://twitter.com/Kyle_R_Schmidt" class="sprite sprite-twitter">	</a>
			<a href="https://plus.google.com/110355226499364639482" class="sprite sprite-google-plus">	</a>
		</div>
		<div>
			<a href="https://github.com/krschmidt" class="sprite sprite-github">	</a>
			<a href="https://www.linkedin.com/in/krschmidt/" class="sprite sprite-linkedin">	</a>
		</div>
	</div>
</nav>
<div id="main">
{{ content }}
</div>
</body>
</html>
