<!DOCTYPE html>
<html>
	<meta charset="utf-8">
	<title>
	{% if page.title %}
		{{ page.title }} &ndash;
	{% endif %}
	{{ site.name }}
	</title>
	<link rel="stylesheet" href="/css/main.css" type="text/css" media="all" >
</head>
<body>
<nav>
	<a href="/"><img src="{{site.gravatar_url }}?s=150" height="75" width="75" class="avatar" /></a>
	<!-- UL for links here -->
	<div id="social_media">
		<div>
			<a href="https://twitter.com/Kyle_R_Schmidt">
				<div class="sprite sprite-twitter"></div>
			</a>
			<a href="https://plus.google.com/110355226499364639482">
				<div class="sprite sprite-google-plus"></div>
			</a>
		</div>
		<div>
			<a href="https://github.com/krschmidt">
				<div class="sprite sprite-github"></div>
			</a>
			<a href="https://www.linkedin.com/in/krschmidt/">
				<div class="sprite sprite-linkedin"></div>
			</a>
		</div>
	</div>
</nav>
<div id="main">
{{ content }}
</div>
</body>
</html>
