<!DOCTYPE html>
<html>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
	<link href='http://fonts.googleapis.com/css?family=Ovo|Muli' rel='stylesheet' type='text/css'>
  	<link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
</head>
<body>
<nav>
	<div class="hamburger" aria-role="button" tabindex="0">
	  <span></span>
	  <span></span>
	  <span></span>
	  <span></span>
	</div>
	<div class="mobile-title">
		<h1>{{ site.name }}</h1>
	</div>
	<div class="menu">
		<a href="/"><img src="{{ site.gravatar_url }}?s=150" height="75" width="75" class="avatar" alt=""/></a>
		<ul>
			<li><a href="/about">About</a></li>
			<li><a href="/">Blog</a></li>
			<li><a href="/resume">R&eacute;sum&eacute;</a></li>
		</ul>
		<div class="social_media">
			<div>
				<a href="https://twitter.com/{{ site.twitter }}" class="sprite sprite-twitter">
					<span class="invisible">Follow me on Twitter</span>
				</a>
				<a href="https://www.goodreads.com/{{ site.goodreads }}" class="sprite sprite-goodreads">
					<span class="invisible">See what I'm reading on Goodreads</span>
				</a>
			</div>
			<div>
				<a href="https://github.com/{{ site.github }}" class="sprite sprite-github">
					<span class="invisible">Check out my GitHub</span>
				</a>
				<a href="https://www.linkedin.com/in/{{ site.linkedin }}" class="sprite sprite-linkedin">
					<span class="invisible">Connect with me on LinkedIn</span>
				</a>
			</div>
		</div>
	</div>
</nav>
<section class="main">
	{% if page.topTitle %}
		<h1 class='top-title'>{{ page.topTitle }}</h1>
	{% endif %}
{{ content }}
<span class="copy-notice">&copy;2016 {{ site.name }} <a href="/copyright">some rights reserved</a></span>
</section>
<script>
$(document).ready(function(){
	$('.hamburger').click(function(){
		$(this).toggleClass('open');
		$('.menu').toggleClass('open');
	});
});
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.google_analytics }}', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>
</body>
</html>
