---
layout: layout
---
<h1 class="post_title">{{page.title}}</h1>
<section class="content">
<ul class="listing">
  {% for post in site.posts %}
  {% for tag in post.tags %}
  {% if tag == page.tag %}
  <li class="archive_list">
    <time datetime='{{post.date | date: "%Y-%m-%d"}}'>{{post.date | date: "%m/%d/%y"}}</time> 
    <a class="archive_list_article_link" href='{{post.url}}'>{{post.title}}</a>
      {% for tag in post.tags %}
      {% if tag != page.tag %}
        <a class="tag {{ tag|downcase }}" href="/tag/{{ tag }}">{{ tag }}</a>
      {% endif %}
      {% endfor %}
  </li>
  {% endif %}
  {% endfor %}
  {% endfor %}
</ul>
</section>